herbe.background_color: #3e3e3e
herbe.border_color: #fb4934
herbe.font_color: #ececec
herbe.font_pattern: FiraCode:size=9
herbe.line_spacing: 5
herbe.padding: 15
herbe.width: 450
herbe.border_size: 2
herbe.pos_x: 15
herbe.pos_y: 30
! 0 = TOP_LEFT, 1 = TOP_RIGHT, 2 = BOTTOM_LEFT, 3 = BOTTOM_RIGHT
herbe.corner: 1
herbe.duration: 5
